


body {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    background-color: #291a18;
    color: #eeeeef;
    background-image: linear-gradient(to bottom, rgba(41, 26, 24, 0), rgba(41, 26, 24, 1)), url('fig/background-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.fireflies-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1px);
}



header {
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    background-size: cover;
    background-position: center;
    color: #eeeeef;
    width: 90%;
    max-width: 100%;
    height: 4vw;
    padding: 1% 2%;
    border-radius: 1%;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-blend-mode: overlay;
}


header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 0, 0, 0.56);
    border-radius: 2rem;
    z-index: -1;
}



header .logo_h {
    position: relative;
}

header .logo_h svg {
    transition: transform 0.3s ease;
    width: 3vw;
    height: auto;
    border: 0.3vw solid #ffffff;
    border-radius: 1vw;
}

header .logo_h svg:hover {
    transform: scale(1.2);
}

header .logo_h::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.5rem;
    height: 0.3rem;
    background-color: transparent;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
}

header .logo_h:hover::after {
    background-color: #ffc991;
}

.author-info {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    color: #eeeeef;
    font-size: 0.8vw;

}

.author-info a {
    color: #eeeeef;
    text-decoration: none;
}

.author-info a:hover {
    text-decoration: underline;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {

    margin: 0;
    position: relative;
}


nav ul li a {
    color: #eeeeef;
    text-decoration: none;
    font-size: 1vw; /* относительная единица для адаптивного уменьшения */
    padding: 1rem 1.5rem;
    position: relative;
    display: inline-block;
    white-space: nowrap; /* предотвращает перенос текста */
    overflow: hidden;
    text-overflow: ellipsis;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0.3rem;
    background-color: transparent;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
}

nav ul li a:hover::after {
    background-color: #ffc991;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Added for z-index control */
    z-index: 2; /* Raise it above other elements */
    padding: 2rem; /* Padding for better visualization */
    border-radius: 1rem; /* Rounded corners for style */
    margin: 3vw;
}

.logo{
    border: 0.2rem solid #ffffff;
    border-radius: 1rem;
}

.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    padding: 2rem;
    border-radius: 1rem;
}




.image__example{
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 2rem;
    border-radius: 1rem;
}

.text-container h2{
    margin-top: 2rem;
    margin-bottom: 0;
}

.logo-container h1 {
    font-size: 2vw;
    color: #eeeeef;
    font-weight: normal;
    text-align: center;
    margin-top: 1rem;
    transition: transform 0.1s ease-out;
}

.logo-container p {
    font-size: 1vw;
    color: rgba(238, 238, 239, 0.88);
    font-weight: normal;
    text-align: center;
    margin-top: 1rem;
    transition: transform 0.1s ease-out;
    line-height: 1.5;
}

.button-container {
    display: flex;
    justify-content: center; /* Центрирует кнопки */
    gap: 2vw; /* Расстояние между кнопками */
    margin-top: 2vw; /* Отступ сверху */
}

.button {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    --light-background: #edf0f4;
    --light-border: #dadee3;
    --scroll: 0;
    font-family: inherit;
    font-size: .92vw;
    font-weight: normal;
    text-transform: uppercase;
    box-sizing: border-box;
    margin: 0;
    scrollbar-color: var(--light-background) transparent;
    scrollbar-width: thin;
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 2vw 2vw;
    border: 0.2vw solid var(--light-border);
    transition: transform 0.3s ease;
}

.button.scale-up {
    transform: scaleX(1.1);
}

.button.scale-down {
    transform: scaleX(0.9);
}

.fireflies-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.firefly {
    position: absolute;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: rgba(255, 146, 96, 0.8);
    box-shadow: 0 0 0.8rem rgba(255, 206, 200, 0.8);
    opacity: 0;
    animation: glow 1s infinite;
}

@keyframes glow {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

h1, h2, h3 {
    color: #ffc991;
    margin: 2rem 0;
}

h1 {
    font-size: 2vw;
}

h2 {
    font-size: 1.8vw;
}

h3 {
    font-size: 1.5vw;
}

p {
    font-size: 1vw;
    line-height: 1.6;
    margin: 1rem 0;
    color: rgba(238, 238, 239, 0.88);
}

ol, ul {
    padding-left: 2rem;
    margin: 2rem 0;
}

ol li, ul li {
    margin-bottom: 1rem;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 2rem auto;
    border: 0.3rem solid #ffc991;
    border-radius: 0.8rem;
}

.logo img{
    border: 0.3rem solid #ffffff;
}

.logo_h img{
    border: 0.3rem solid #ffffff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0;
}

table, th, td {
    border: 0.1rem solid #eeeeef;
}

th, td {
    padding: 1rem;
    text-align: center;
    color: #eeeeef;
}

th {
    background-color: #291a18;
}

td {
    background-color: #3c2925;
}

caption {
    caption-side: top;
    font-size: 1.2vw;
    margin-bottom: 1rem;
    color: #ffc991;
}

tfoot td {
    font-weight: bold;
}

a {
    color: #ffc991;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #ffffff;
}


.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    margin: 6rem auto; /* 15% from the top and centered */
    border: 0.2rem solid rgba(251, 180, 149, 0.8);
    width: 80%; /* Could be more or less, depending on screen size */
}



.image-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    padding: 2rem;
    border-radius: 1rem;
}

.image-gallery img {
    margin: 1rem;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.image-gallery img:hover {
    transform: scale(1.1);
}

.close {
    color: white;
    position: absolute;
    top: 0.8rem;
    right: 3rem;
    font-size: 3vw;
    font-weight: bold;
    cursor: pointer;
}



.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}



/*article1*/
main {
    padding: 4rem 2rem;
    text-align: center;
    max-width: 70rem;
    margin: auto;
    color: #eeeeef;
}

/* Медиазапросы */
@media (max-width: 600px) {

    header {
        padding: 1% 2%; /* Уменьшение отступов */
    }

    nav ul li a {
        padding: 0.5rem 1rem; /* Уменьшение отступов */
    }

    .modal-content {
        width: 90%; /* Увеличение ширины модального окна */
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    header {
        padding: 1% 2%; /* Сохраняем отступы */
    }

    nav ul li a {
        padding: 0.8rem 1.5rem; /* Сохраняем отступы */
    }

    .button {
        padding: 1.5rem 2rem; /* Увеличение отступов для кнопок */
    }
}

@media (min-width: 1201px) {
    main {
        max-width: 80rem; /* Увеличение максимальной ширины основного содержимого */
        padding: 4rem 2rem; /* Сохраняем отступы */
    }

    .button {
        padding: 2rem 3rem; /* Увеличение отступов для кнопок */
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: rgba(28, 0, 0, 0.56);
    padding: 2rem;
    border-radius: 1rem;
    border: 0.2rem solid #ffffff;
    color: #eeeeef;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1.2vw;
    max-width: 40vw;
    margin: 5vw auto;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.7);
}

/* Стили для меток */
form label {
    font-size: 1.1vw;
    margin-bottom: 0.5rem;
    display: block;
}

/* Поля ввода */
form input,
form textarea,
form select {
    width: 100%;
    font-size: 1vw;
    padding: 0.8rem;
    border: 0.2rem solid #ffffff;
    border-radius: 0.5rem;
    background-color: rgba(41, 26, 24, 0.8);
    color: #eeeeef;
    box-sizing: border-box;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

form input:focus,
form textarea:focus,
form select:focus {
    border-color: #ffc991;
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
}

/* Поля обязательных и необязательных элементов */
form input:required,
form textarea:required {
    border-left: 0.5rem solid #ffc991;
}

form input:not(:required),
form textarea:not(:required) {
    border-left: 0.5rem solid #00bcd4;
}

/* Поля допустимых и недопустимых значений */
form input:valid,
form textarea:valid {
    border-color: #4caf50;
}

form input:invalid,
form textarea:invalid {
    border-color: #f44336;
}

/* Кнопки */
form button {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1vw;
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    border: 0.2rem solid #ffffff;
    background-color: rgba(28, 0, 0, 0.8);
    color: #eeeeef;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

form button[type="submit"] {
    background-color: #4caf50;
}

form button[type="submit"]:hover {
    background-color: #388e3c;
    transform: scale(1.05);
}

form button[type="reset"] {
    background-color: #f44336;
}

form button[type="reset"]:hover {
    background-color: #d32f2f;
    transform: scale(1.05);
}

datalist {
    max-height: 15vw;
    overflow-y: auto;
}

input[list] {
    position: relative;
    z-index: 2; /* Убедитесь, что поле ввода на переднем плане */
}






